{% extends 'base.html' %}
{% block title %}Fornecedores{% endblock %}
{% block content %}
<h1>Gerenciamento de Fornecedores</h1>
<a href="{% url 'fornecedor_create' %}" class="btn btn-success">+ Nova Compra</a>
 
<table>
    <thead>
        <tr>
            <th>Produto</th>
            <th>Qtd. no estoque</th>
            <th>Fornecedor</th>
            <th>Preço unidade</th>
            <th>Preço total pago</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in fornecedores %}
        <tr>
            <td>{{ obj.produto.nome }}</td>
            <td>{{ obj.produto.quantidade }}</td>
            <td>{{ obj.nome_fornecedor }}</td>
            <td>R$ {{ obj.preco_unidade }}</td>
            <td>R$ {{ obj.preco_total }}</td>
            <td>
                <a href="{% url 'fornecedor_update' obj.pk %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'fornecedor_delete' obj.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="6">Nenhuma compra registrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}